*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(images/mainpage.jpg);
    background-size : cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu-bar
{
    background: rgb(4,99,133);
    text-align: center;
}
.menu-bar ul
{

    display: inline-flex;
    list-style: none;
    color:#FFFFFF ;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{

    text-decoration: none;
    color: #ffff;
}
.active,.menu-bar ul li a:hover
{
    background: #0a5b47;
    border-radius: 3px;
}
.menu-bar .fas
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #0a5b47;
    margin-top: 15px;
    margin-left: 15px;

}
.menu-bar ul li:hover .sub-menu-1 ul
{display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: aqua;
}
.row
{
  display: flex;
    height: 88%;
    align-items: center;
    margin-left: 30px;
}
.col
{
    flex-basis: 50%;

}
h1
{
    color: #ffff;
    font-size: 80px;
}
p
{
    color: #ffff;
    font-size: 15px;
    line-height: 15px;
    margin-left: 10px;
}
button
{width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;




}
.card
{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(images/Rangamati.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card1
{
    background-image: url(images/rangamati_home.jpg)
}
.card2
{
    background-image: url(images/Kuakata.jpg)
}
.card3
{
    background-image: url(images/Sundarbans.jpg)
}
.card4
{
    background-image: url(images/Cox.jpg)
}
.card:hover
{
    transform: translateY(-10px);
}
h3
{
    color: #8F1205;
    text-shadow: 0 0 5px #999;
}
.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.topnav input[type=text] {
	padding: 6px;
	font-size: 17px;
	/*border: none;*/
}
